.main {
  width: 100vw;
  max-height: fit-content;
  min-height: 100vh;
  background-image: linear-gradient(to right, #5f5dee, #ec6184);


  .carsTable {
    border-top: 5px dotted white;
    max-width: 100vw;
  }
}