.carContainer {
    user-select: none;
    border-bottom: 5px dotted white;

    .road {
        width: 80%;
        padding-left: 3%;
        border-right: 0.8vw solid rgba(255, 255, 255, 0.5);
        .carElem {
            font-size: 4vw;
            max-width: 100%;
            min-width: 100%;
            text-align: left;
            transform: translateX(-45%);
        }
    }

}